{% extends "base.html" %}
{% load bootstrap5 %}


{% block content %}
    <div class="row row-cols-2 h-100">
        <div class="col-6">
            {% for photo in activity.get_all_photos  %}
            <div
                    style="background-image:url({{photo.file.url}});background-size: cover"
                    class="rounded w-100 h-100 d-flex flex-column align-items-center justify-content-between">
                    <div class="w-75 d-flex flex-row justify-content-between ml-2 mr-4">
                        <div class="d-flex-inline">
                          <button id="heart_btn" onclick="post_like(this.id)" class="btn-outline rounded">
                                  {%if request.user in activity.liked_user_set.all%}
                                  <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                                    <i id="heart" class="red-text fas fa-heart" style="color:red"></i>
                                  {%else%}
                                  <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                                    <i id="heart" class="far fa-heart"></i>
                                  {%endif%}
                                  <span id="like_count">{{activity.liked_user_set.count}}</span>
                          </button>
                        </div>
                        <div class="d-flex-inline bg-dark bg-opacity-75 text-white">현재인원 {{ registration_count.count|add:1 }}</div>
                    </div>
                    <div class="text-white d-flex-inline text-center">
                        <div>
                            <h2 class="sd-inline-block card-title bg-dark bg-opacity-75 text-white">{{activity.title }}</h2>
                            <i>by {{ activity.master }}</i>
                        </div>
                    </div>
                    {% if user.id == activity.master_id %}
                        <button class="rounded w-75 btn btn-dark mb-5 disabled">신청완료</button>
                    {% elif user.id in registration_user_id_set %}
                        <a href="{% url "activities:delete_regist" activity.pk %}" class="rounded w-75 btn btn-danger mb-5">신청취소</a>
                    {% elif current_regist %}
                        <button class="rounded w-75 btn btn-dark mb-5 disabled">이미 신청하셨습니다</button>
                    {% else %}
                        <a href="{% url "activities:regist" activity.pk %}" class="rounded w-75 btn btn-primary mb-5">신청하기</a>
                    {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="col-6">
            <p>댓글 ({{ activity.comment_set.all.count }})</p>

            <div class="comment-list">
                {% for comment in activity.comment_set.all %}
                    {{ page_obj }}
                    <div class="card mb-4">
                      <div class="card-body">
                          <div class="d-flex flex-row justify-content-between">
                              <div class="justify-content-start">
                                <p>{{ comment.content|linebreaks }}</p>
                              </div>
                              <div class="justify-content-end">
                                  {% if user == comment.author %}
                                      <a href="{% url "activities:comment_edit" activity.pk comment.pk %}" class="btn btn-outline-info">수정하기</a>
                                  {% endif %}
                              </div>
                          </div>
                          <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <img src="https://thumbs.dreamstime.com/b/person-icon-creative-trendy-colorful-round-button-illustration-isolated-156511182.jpg" alt="avatar" width="25"
                              height="25" />
                            <p class="small mb-0 ms-2">작성자: {{ comment.author }}</p>
                          </div>
                              <div class="d-flex flex-row align-items-center">
                                  {% if user == comment.author %}
                                      <a href="{% url "activities:comment_delete" activity.pk comment.pk %}" class="btn btn-outline-danger">삭제하기</a>
                                  {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>

            <form action="{% url "activities:comment_new" activity.pk %}" method="post" novalidate>
                {% csrf_token %}
                {% bootstrap_form comment_form layout="inline" %}
                <input type="submit" value="저장" class="btn btn-danger mt-2" />
            </form>
        </div>
    </div>
{% endblock %}

{% block extra-script %}
    {% include 'include/ajax.html' %}
{% endblock %}